{% extends "layout.html" %}
{% block content %}

<h1>About The Rental House</h1>
<p>This newly-constructed, custom-built 3 Bedroom, 2 Bathroom home is central to everything the town of Ridgway has to offer. Located in downtown Ridgway, this home provides ideal access to one of a kind dining experiences, local festivals and farmers’ markets and iconic mountain landscapes. Walk to restaurants, the town park, and shops in the town of Ridgway or bike to Ridgway State Park and the RAT mountain biking trails. 
            The home is pet-friendly (2 pet max) and the pet fee is $40/day (max $250)</p>
<a href="{{ url_for('rentaloptions') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Lease</a>
        <a href="{{ url_for('contacts') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Contact</a>
<style>
    h1 {
        color: white;
        transform: translate(250px, 150px);
        float: center;
        text-align: center;
        font-size: 40px;
    }
    p {
        float: center;
        text-align: center;
        color:white;
        font-size: 30px !important;
        transform: translate(250px, 200px);
    }
    .btn {
        color: black;
        display: inline-block;
        transform: translate(470px, 200px)

    }
    .btn-group-lg>.btn, .btn-lg {
        padding: .7rem 1.5rem;
        font-size: 1.9rem;
        border-radius: .3rem;
    }



    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
        color: black;
    }

    .btn-secondary:hover {
        color: black;
    }
</style>
{% endblock content %}