{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contacts.css') }}">
<h1 class="form-page_title">Contact Information</h1>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <p>
                <br>
                <br>
                "Thomas Mcgown - Website Programmer"
                <br>
                <a href="tel:+9018649060">(901)-864-9060</a>
                <br>
                <br>
                "Gigi Mcgown - House Owner"
                <br>
                <a href="tel:+9016475142">(901)-647-5142</a>
                <br>
                <br>
                "LandLord"
                <br>
                <a href="tel:+9706330721">(970)-633-0721</a>
            </p>
        </div>
        <div class="col">
            <p>
                

            </p>
        </div>
    </div>    
</div>
{% endblock content %}