{% extends "layout.html" %}
{% block content %}
<h1><a href="https://www.vrbo.com/2168350?adultsCount=1&arrival=2022-01-28&departure=2022-01-30&unitId=2732886" class="rentalink1" target="_blank">Vrbo</a> > Rent on Vrbo</h1>
<br>
<h1 class="Airbnb"><a href="https://www.airbnb.com/rooms/37146254?adults=1&previous_page_section_name=1000&guests=1" class="rentalink2" target="_blank">Airbnb</a> > Rent on Airbnb</h1>
<br>
<h1></h1>
<style>   h1, a.rentalink1 {
            color: white;
            transform: translate(150px, 400px);
            float: center;
            text-align: center;
            font-size: 100px;
            white-space: nowrap;
             }
             h1.Airbnb, a.rentalink2 {
            color: white;
            transform: translate(60px, 400px);
            float: center;
            text-align: center;
            font-size: 100px;
            white-space: nowrap;
             }
             a.rentalink1, a.rentalink2 {
                 color: rgb(0, 136, 169);
             }
</style>
{% endblock content %}